.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $light-background;
    color: $light-color;
}

.dark-mode.container {
    background: $dark-background;
    color: $dark-color;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}
